 @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
 }

 body {
   display: flex;
   height: 100vh;
   justify-content: center;
   align-items: center;
   padding: 25px;
   background: linear-gradient(to bottom right, #f2c5ff, #9b59b6);
 }

 .container {
   max-width: 700px;
   width: 100%;
   background-color: #fff;
   padding: 25px 25px;
   border-radius: 5px;
 }

 .container .subtitle {
   font-size: 15px;
   font-weight: 300;
 }

 .container .title {
   font-size: 25px;
   font-weight: 500;
   position: relative;
 }

 .container .title::before {
   content: '';
   position: absolute;
   bottom: 0;
   height: 3px;
   width: 40px;
   background: linear-gradient(to bottom right, #f2c5ff, #9b59b6);
 }

 .container form .user-details {
   display: flex;
   flex-wrap: wrap;
   margin-top: 15px;
   justify-content: space-between;
 }

 form .user-details .input-box {
   margin-bottom: 15px;
   width: calc(100% / 2 - 20px);
 }

 .user-details .input-box .details {
   display: block;
   font-size: 16px;
   font-weight: 500;
   margin-bottom: 5px;
 }

 .user-details .input-box input {
   height: 45px;
   width: 100%;
   outline: none;
   border-radius: 5px;
   border: 1px solid #ccc;
   padding-left: 12px;
   font-size: 15px;
   transition: all 0.25s ease;
 }

 .user-details .input-box input:hover {
   border-bottom-width: 2px;
 }

 .user-details .input-box input:focus {
   border-color: #9b59b6;
 }

 form .user-details .gender-details .gender-title {
   font-weight: 500;
   font-size: 16px;
 }

 form .user-details .gender-details .category {
   width: 90%;
   display: flex;
   justify-content: space-between;
   margin-top: 3px;
   float: left;
 }

 form .user-details .gender-details .category label {
   display: flex;
   align-items: center;
   font-size: 15px;
 }

 form .user-details .gender-details .category .dot {
   height: 16px;
   width: 16px;
   background-color: #d9d9d9;
   border: 3px solid transparent;
   border-radius: 50%;
   margin-right: 9px;
   transition: all 0.25s ease;
 }

 form input[type="radio"] {
   display: none;
 }

 #male:checked~.category label .male,
 #female:checked~.category label .female {
   border-color: #d9d9d9;
   background-color: #9b59b6;
 }

 #male:hover~.category label .male,
 #female:hover~.category label .female {
   border-width: 2px;
   border-color: #9b59b6;
 }

 form .button {
   height: 45px;
   margin-top: 20px;
   margin-bottom: 5px;
 }

 form .button input {
   height: 100%;
   width: 100%;
   color: #fff;
   border: none;
   border-radius: 5px;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   background: linear-gradient(to bottom right, #f2c5ff, #9b59b6);
 }

 form .button input:hover {
   background: linear-gradient(to top right, #f2c5ff, #9b59b6);
 }

 form .button input:active {
   border: 1px solid #ccc;
 }

 @media (max-width: 600px) {
   .container {
     max-width: 92%;
   }

   form .user-details .input-box {
     width: calc(100%);
   }

   form .user-details .gender-details .category {
     width: 100%;
   }

   .container form .user-details {
     overflow-y: scroll;
   }

   .user-details::-webkit-scrollbar {
     width: 0;
   }
 }
